<!--{% load static %}-->
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,800&display=swap&subset=latin-ext" rel="stylesheet">

	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<link href="static/styles.css" rel="stylesheet">
	<script src="static/jquery.js"></script>
	<script src="static/main.js"></script>

</head>
<body class="form-pages">
	<!--{% if messages %}-->
	<ul>
		<!--{% for message in messages %}-->
		<li>
			<!--{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}ERROR: {% endif %}
			{{ message }}-->
		</li>
		<!--{% endfor %}-->
	</ul>
	<!--{% endif %}-->
	<div class="main-container">
		<h1>Create contact</h1>
	<form action="{% url 'contacts:create' %}" method="post" class="form-signin" >
		<!--{% csrf_token %}-->
		<input type="text" name="name_first" placeholder="First name" maxlength="40" class="form-control" required autofocus>
		<input type="text" name="name_last" placeholder="Last name" maxlength="40" class="form-control" required>
		<input type="text" name="phone_home" placeholder="Home phone" maxlength="20" class="form-control" >
		<input type="text" name="phone_work" placeholder="Work phone" maxlength="20" class="form-control" >
		<input type="text" name="addr_street" placeholder="Street address" maxlength="40" class="form-control" >
		<input type="text" name="addr_city" placeholder="Address city" maxlength="40" class="form-control" >
		<button type="submit" class="btn">Create</button>
	</form>
	<div class="footnote">
		<a href="home.html" class="veryBottomBTN">Home</a><br />
		<a href="{% url 'contacts:logout' %}" class="veryBottomBTN">Logout</a>
	</div>
	</div>
</body>
</html>
