{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<script src="{% static 'main.js' %}"></script>
</head>
<body>
	{% if messages %}
	<ul>
		{% for message in messages %}
		<li>
			{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}ERROR: {% endif %}
			{{ message }}
		</li>
		{% endfor %}
	</ul>
	{% endif %}

	<a href="{% url 'contacts:index' %}">Home</a><br />
	<a href="{% url 'contacts:logout' %}">Logout</a>

	<h1>Are You Sure You Want To Delete This Contact?</h1>

	First Name: {{ name_first }}<br />
	Last Name: {{ name_last }}<br />
	Home Phone: {{ phone_home }}<br />
	Work Phone: {{ phone_work }}<br />
	Street Address: {{ addr_street }}<br />
	Address City: {{ addr_city }}<br /><br />

	<form action="{% url 'contacts:delete' id %}" method="post">
		{% csrf_token %}
		<input type="hidden" name="confirm" value="true">
		<button type="submit">Confirm</button>
	</form>
</body>
</html>
