{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,800&display=swap&subset=latin-ext" rel="stylesheet">

	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<link href="{% static 'styles.css' %}" rel="stylesheet">
	<script src="{% static 'jquery.js' %}"></script>
	<script src="{% static 'md5.js' %}"></script>
	<script src="{% static 'main.js' %}"></script>

</head>
<body class="form-pages">
	{% if messages %}
	<ul class="alert">
		<div class="close-alert">✖️</div>
		{% for message in messages %}
		<li>
		{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
			<div class="alert-red">
				ERROR: {{ message }}
			</div>
		{% else %}
			<div class="alert-blue">
				{{ message }}
			</div>
		{% endif %}
		</li>
		{% endfor %}
	</ul>
	{% endif %}

	<div class="headerCorner">
		<h1><b>knights</b>book</h1>
	</div>

	<div class="main-container">
		<img class = "logoLogin" src="{% static 'logo.png' %}" alt="">
		<h1>Log in</h1>

		<form action="{% url 'contacts:login' %}" method="post" class="form-signin">
			{% csrf_token %}
			<input type="email" name="email" placeholder="Email address" class="form-control" required autofocus>
			<input type="password" name="password" id="password" placeholder="Password" class="form-control" required>
			<button type="submit" onclick="return hashpw()" class="btn">Login</button>
		</form>
		<div class="footnote">
			<a href="{% url 'contacts:register' %}" class = "veryBottomBTN">Register</a>
		</div>
	</div>
	<footer>
		<p>&#169;Copyright 2020 Group 1</p>
	</footer>
</body>
</html>
