body {
	font-family: 'Raleway', sans-serif;
	margin: 0px;
	padding: 0px;

	background-color: #eaeaea;

}

.form-pages {
	align-items: center;
	display: flex;
	flex-direction: column;
}

h1 {
	font-weight: 400;
	font-size: 55px;
	margin: 10px auto;
}

b {
	font-weight: 800;
}

ul {
	list-style-type: none;
	padding: 0px;
}

button {
	margin-top: 25px;
}

.alert-red {
	padding: 10px;
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}

.alert-blue {
	padding: 10px;
	color: #004085;
	background-color: #cce5ff;
	border-color: #b8daff;
}

.alert {
	text-align: center;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	margin: 0;
	padding:0;
	border: 1px solid transparent;
	display: none;
	z-index: 9999;
}


.close-alert {
	float: right;
	display: inline;
	cursor: pointer;
	height: 20px;
	width: 20px;
	margin: 0;
	font-weight: bold;
}

.contact-container {
	flex: 1 0 auto;
	text-align: center;
	margin: 10% auto 5%;
	max-width: none;
	width: 100%;
	padding: 25px;
	border-radius: 30px;
	background-color: white;
}

.main-container {
	flex: 1 0 auto;
	text-align: center;
	margin: 12% auto 5%;
	max-width: 400px;
	width: 100%;
	padding: 25px;
	border-radius: 30px;
	background-color: white;
}

footer {
	text-align: center;
	flex-shrink: 0;
	padding: 3px;
	width: 100%
}

.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.form-signin .form-control {
	width: 100%;
	position: relative;
	padding: 10px;
	font-size: 16px;
	border-radius: .25rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	border: 1px solid #ced4da;
}

.btn {
	display: block;
	width: 100%;
	padding: .5rem 1rem;
	font-size: 1.25rem;
	line-height: 1.5;
	border-radius: .3rem;
	margin-bottom: 10px;
	background-color: #ffcc00;
}

.btn:hover {
	text-decoration: underline;
	box-shadow: 2px 5px;
}

.footnote a {
	display: inline-block;
	text-decoration: none;
	color: black;
}

.header {
	background-color: black;
	top: 0;
	left: 0;
	right: 0;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: black;
	display: block;
	box-shadow: inset 0 -3em 3em rgba(255,255,255,0.15);
}

.header h1 {
	color: #ffcc00;
	text-align: left;
	padding: 10px 10px 10px 20px;
	margin: 0;
}

.headerCorner
{
	background-color: black;
	top: 0;
	left: 0px;
	right: 0;
	border-bottom-style: solid;
	border-bottom-width: 10px;
	border-bottom-color: #ffcc00;
	position: absolute;
	display: block;
	box-shadow: inset 0 -3em 3em rgba(255,255,255,0.15);
}

.headerCorner h1 {
	color: #ffcc00;
	text-align: left;
	padding: 10px 10px 10px 20px;
	margin: 0;
}

table {
	width: auto%;
}

th, td {
	padding: 5px;
	font-size: 1.25rem;
}

th {
	text-align: left;
}

.topbar {
	margin: 0;
	padding: 0;
	overflow: hidden;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: black;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: #ffcc00;
	box-shadow: inset 0 -3em 3em rgba(0,0,0,0.05);
}

.topbar a {
	padding: 5px;
	font-family: sans-serif;
	text-decoration: none;
	color: black;
}

.topbar a:hover {
	color: #ffcc00;
	background-color: #272525;
}

select {
	font-size: 16px;
	line-height: 1.5;
	margin-top: 10px;
	margin-bottom: 10px;

	border-radius: 5px 5px 5px 5px;
	background-color: #fff;
	border: 1px solid #ced4da;

	padding: .5rem 1rem;
	font-size: 1.25rem;
	line-height: 1.5;
	border-radius: .3rem;
}

.sidebar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 20%;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: black;
	height: 100%;
	position: fixed;
	overflow: auto;
}

.sidebar ul {
	margin: 0;
	padding: 0;
}

.sidebar li {
	margin:0;
	padding: 0;
	border-style: solid;
	border-width: 1px;
	border-color: #aeaeae;
	border-radius: .3rem;
	background-color: white;
}

.sidebar a {
	display: block;
	margin: 0;
	padding: 10px;
	font-size: 1.25em;
	text-decoration: none;
	color: black;
}

.sidebar footer {
	left: 0;
	bottom: 0;
}

.sidebar li:hover {
	background-color: #ffcc00;
}

.sidebar li.on {
	background-color: #d9d9d9;
}

.searchbar {
	margin: 0;
	padding: 0;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: black;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.searchbar input {
	margin: 3px 0 3px 0;
	padding: 5px;
	font-size: 1.25em;
	border-radius: 1rem;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	width: 100%;
}

.searchbar form {
	margin: 0;
	padding: 0;
}

.no-items {
	height: 80%;
	width: 100%;
}

.content-container {
	top: 0;
	height: 80%;
	width:80%;
	margin-left:20%;
	justify-content: center;
	align-content: center;
	display: flex;
}

.content {
	width: 400px;
}

h2 {
	font-family: sans-serif;
	text-align: center;
	font-size: 19px;
	color: black;
	padding: 10px;
}

.menu {
	height: auto;
	width: auto;
	max-width: 26px;
	max-height: 26px;
}

.logoLogin
{
	height: auto;
	width: auto;
	max-width: 100px;
	max-height: 100px;
}

.veryBottomBTN
{
	font-size: 16px;
	line-height: 1.5;
	width: 90%;
	margin-top: 10px;
	margin-bottom: 10px;
	width:110px;

	border-radius: 5px 5px 5px 5px;
	background-color: #fff;
	border: 1px solid #ced4da;

	padding: .5rem 1rem;
	font-size: 1.25rem;
	line-height: 1.5;
	border-radius: .3rem;
}

.veryBottomBTN:hover {
	border-color: #ffcc00;
}
